<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "3.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Epiclepsy</name>

  <description>
      An app to trigger seizures.
  </description>

  <author href="http://www.tanokullari.com/tr/" email="mhmtboynuegri@hotmail.com">
      Mehmet Boynue?ri
  </author>
<icon src="icon.png" />
</widget>